/* Stile für die Neuseelandreise */

/*Google Donts laden */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:ital@1&family=Roboto:wght@300&display=swap');



body {
    background: url("images/tirol.jpg"); 
    
}





main {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    max-width: 1024px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




h1 {  color: rgb(0, 0, 0); 
      font-family: 'Open Sans Condensed', sans-serif; 
      font-size: 80px; 
      font-weight: 700; 
      line-height: 64px; 
      margin: 0 0 0; 
      padding: 20px 30px; 
      text-align: center; 
      text-transform: uppercase; }




      h2 {
        overflow: hidden;
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 10px; 
      }
      
      h2:before,
      h2:after {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: 3.7px;
        width: 50%;
      }
      
      h2:before {
        right: 0.5em;
        margin-left: -50%;
      }
      
      h2:after {
        left: 0.5em;
        margin-right: -50%;
      }


main p {
    
    font-family: 'Montserrat', sans-serif;
}

article {
    padding: 3em;

}

.blocked {
	text-align: justify;
	text-align-last: none;
}


a {
    color: black;
}



.shadow {
    box-shadow: 
        0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif; 
    text-transform: uppercase;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }

.btn-two {
    color: rgb(255, 255, 255);
    top: 2em; 
    position: relative; 
    
  }
  .btn-two span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  }
  .btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.11);
    
  }
  .btn-two:hover::before {
    transform: rotate(-180deg);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two:hover::after {
    transform: rotate(180deg);
    background-color: rgba(255,255,255,0.1);
  }
  
  


  




  